p.truncate-3l { /*Add nos cards com a descrição maior*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: rgb(42, 54, 165);
}

.nav .nav-link.active {
    background-color: #143888;
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
    color: rgb(221, 223, 247);
}


#cabecalho a {
    color: #fff;
}

button.navbar-toggler {
    background-color: #fff;
}

.carousel {
    width: 100%;
    max-height: 780px;
}

.carousel-item img {
    width: 100%;
}

#cabecalho {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0, 1);
}

.navbar-brand {
    font-family: pacifico, cursive;

}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: pacifico, cursive;
}

.section-title span {
    color: rgb(42, 54, 165);
}

.produtos span{
    padding-bottom: 20px;
}

#sobre {
    background-color: RGB(240, 225, 216);
}



@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0)
}